text-autocomplete-env/

data/raw/*.pkl
data/raw/*.h5
data/raw/*.csv
data/raw/*.txt
data/clean/*.txt
data/splits/*.txt

*tmp
*temp

models/*.pt

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

*.log
logs/

src/test.py
